body {
  background-image: url(images/14thanddonna.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 200%;
}

 /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

    /* Add a color to the active/current link */
  .topnav a.active {
      background-color: #04AA6D;
      color: white;
  }

  h1 {
    color: white;
    text-align: center;
  }

  .pl {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
  }

  .img {
    width: auto;
  }

  .img img{
    float: center;
    margin-left: 23%;
    width: auto;
    height: auto;
  }
  
  .pl2 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
