body {
    background-image: url(images/14thanddonna.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 200%;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #c23b3b;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
