body {
    background-image: url(images/background.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 200%;
    overflow: hidden;
  }

.description {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: white;
}
  
  h1 {
    color: white;
    text-align: left;
  }

  .beginning {
    color: green;
    text-align: center;
    margin-left: 750;
    top: 7%;
    position: absolute;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cf1919;
}

.logo {
    float: left;
}

.name {
    float: left;
    font-size: 25px;
    color: green;
    font-weight: 450;
    position: fixed;
    margin-left: 3%;
    top:-.7%
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
